@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import 'tailwindcss';

@theme {
  /* Breakpoints */
  --breakpoint-xs: 576px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
  /* Fonts */
  --font-gabriela: 'Gabriela', serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-dele-one: 'Dela Gothic One';
  /* Colors */
  --color-primary: #6663fd;
  --color-secondary: #ff89a1;
  --color-red: #e84465;
  --color-yellow: #DAF578;
  --color-blue: #6865fd;
  --color-gradient-to: #ff9aae;
  --color-gradient-from: #ff3f66;
  --text-forty: 40px;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-gabriela text-white overflow-x-hidden;
  }
}

.gradient-custom::after {
  content: '';
  @apply absolute top-0 left-0 z-10 size-full bg-gradient-to-t from-primary to-[#ACAAFF]/40 from-5%;
}
.gradient-custom-2::after {
  content: '';
  @apply absolute top-0 lg:left-1/2 z-0 size-full bg-yellow translate-y-[55%] lg:translate-y-0 lg:skew-x-12 lg:-translate-x-[10%] xl:-translate-x-[5%];
}

button {
  @apply cursor-pointer;
}

.accordion-content {
  display: none;
  transition: all 0.3s ease;
}

.accordion-content.active {
  display: block;
}

.plus-icon {
  transition: transform 0.3s ease;
}

.plus-icon.active {
  transform: rotate(45deg);
}

.gradient-custom {
  background-color: #ff9bb3;
}

.mobile-menu {
  transition: transform 0.4s ease, opacity 0.3s ease;
  transform: translateX(-100%);
  opacity: 0;
}

.mobile-menu.active {
  transform: translateX(0);
  opacity: 1;
}
