@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import 'tailwindcss';

@theme {
  /* Breakpoints */
  --breakpoint-xs: 576px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
  /* Fonts */
  --font-gabriela: 'Gabriela', serif;
  --font-nunito: 'Nunito', sans-serif;
  /* Colors */
  --color-primary: #6663fd;
  --color-secondary: #ff89a1;
  --color-red: #e84465;
  --color-blue: #6865fd;
  --color-gradient-to: #ff9aae;
  --color-gradient-from: #ff3f66;
  --text-forty: 40px;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-gabriela text-white overflow-x-hidden;
  }
}

.gradient-custom::after {
  content: '';
  @apply absolute top-0 left-0 z-10 size-full bg-gradient-to-t from-primary to-[#ACAAFF]/40 from-5%;
}

button {
  @apply cursor-pointer;
}

.accordion-content {
  display: none;
  transition: all 0.3s ease;
}

.accordion-content.active {
  display: block;
}

.plus-icon {
  transition: transform 0.3s ease;
}

.plus-icon.active {
  transform: rotate(45deg);
}
